body{
    margin-left:10%;
    margin-right:10%;
    background-color:grey;
}
#enterSearch{
    font-family: 'IM Fell English SC', serif;
    font-family: 'Permanent Marker', cursive;
    text-align:center;
    font-size:25px;
    padding-right:100px;
    margin-bottom:20px;
    color:black;
}

.jumbotron{
    background-image: url('https://www.incimages.com/uploaded_files/image/970x450/getty_549933903_2000133320009280405_105293.jpg');
    background-repeat: no-repeat;
    background-size:1550px 300px;
    
}
.form-group{
    padding-left:20%;
    padding-right:20%;
}